body {
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbarr {
    background-color: black;
    text-decoration: none;
    color: white;
    max-width: 100%;
    padding: 0px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.menu {
    display: flex;
    gap: 20px;
}


.menu a{
    text-decoration: none;
    color: white;
}

.navbarr h2 {
    color: white;
  margin: 0;
}

.hero img{
    width: 80vw;
    height: 60vh;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: cover;
}

.hero h2{
    color: white;
    font-size: 48px;
    margin-left: 20%;
    margin-top: 64px;
    margin-right: 20%;
}

.hero p{
    color: white;
    font-size: 18px;
    margin-top: 64px;
    margin-left: 20%;
    margin-right: 20%;
}

.disco{
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: 84px;
}

.container-disco{
    display: grid;
    grid-template-columns:1fr 1fr ;
    max-width: 700px;
    margin: 0 auto;
}

.container-disco img{
    width: 100%;
    object-fit: cover;
}


.videoclip h2{
    color: white;
    font-size: 48px;
    text-align: center;
}

.videoclip img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.videoclip .play{
    width: 10%;
    transform: translate(0, -200%);
}

.videoclip .play:hover {
    opacity: 0.5;
}

.videoclip p {
    color: white;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 18px;
}


.footer {
    margin-top: 150px;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer h6 {
    margin: 0;
}

.footer .lavora_con_noi {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer .info {
    margin-top: 20px;
}