body {
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, p {
    color: white;
}

.navbarr {
    background-color: black;
    text-decoration: none;
    color: white;
    max-width: 100%;
    padding: 0px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.menu {
    display: flex;
    gap: 20px;
}


.menu a{
    text-decoration: none;
    color: white;
}

.navbarr h2 {
    color: white;
  margin: 0;
}

.hero-img {
    display: block;
    height: 250px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;


}
.hero-h{
    margin-top: 64px;
    margin-left: 10%;
    margin-right: 10%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 128px;
    margin-left: 5%;
    margin-right: 5%;
}

.container img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.footer {
    margin-top: 150px;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer h6 {
    margin: 0;
}

.footer .lavora_con_noi {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer .info {
    margin-top: 20px;
}