body {
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, p {
    color: white;
}

.navbarr {
    background-color: black;
    text-decoration: none;
    color: white;
    max-width: 100%;
    padding: 0px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.menu {
    display: flex;
    gap: 20px;
}


.menu a{
    text-decoration: none;
    color: white;
}

.navbarr h2 {
    color: white;
  margin: 0;
}

section {
    display: flex;
    justify-content: space-evenly;
}


form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
form h2,p {
    color: #000000;
}
input[type=text] {
    background-color: #D9D9D9;
    margin-top: 24px;
    height: 48px;
}

textarea{
    margin-top: 24px;
    margin-bottom: 24px;
    height: 96px;
}

input[type=submit]{
    background-color: #D9D9D9;
    height: 24px;
    border-radius: 10px;
}

.info p{
    color: #ffffff;
}

.footer {
    margin-top: 150px;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer h6 {
    margin: 0;
}

.footer .lavora_con_noi {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer .info {
    margin-top: 20px;
}