@media only screen and (max-width: 620px) {
    .menu {
      flex-direction: column;
      margin-left: 10%;
    }
}

body {
    background-color: black;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbarr {
    background-color: black;
    text-decoration: none;
    color: white;
    max-width: 100%;
    padding: 0px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.menu {
    display: flex;
    gap: 20px;
}


.menu a{
    text-decoration: none;
    color: white;
}

.navbarr h2 {
    color: white;
  margin: 0;
}

.visual_home {
    max-height: 500 px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    
}

.visual_home img {
    display: block;
    height: 250px;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
   

}
 

.visual_home {
    position: relative;
   
   
  }
  
  .copyvisualhome {
    color: white;
    background-color: rgba(10, 6, 0, 0.167);
    text-align: center;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
}



.artisti_img {
    display: grid;
    column-gap: 90px;
    grid-template-columns:1fr 1fr ;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.Artisti {
    width: 100%;
    text-align: center;
    margin-top: 90px;
   
   
}

.Artisti h2 {
    margin: 0;
    font-size: 16px;
    color: white;
    
}

.Artisti img {
    width: 100%;
    object-fit: cover;
}

.artisti_item{
    text-decoration: none;
}


.footer {
    margin-top: 150px;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer h6 {
    margin: 0;
}

.footer .lavora_con_noi {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer .info {
    margin-top: 20px;
}


.Artisti .artisti_item h3 {
    color: white ;
    font-size: 18px;
    margin-bottom: 60px;
  
    

}


.uscite_img {
    display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr ;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.uscite {
    width: 100%;
    text-align: center;
    margin-top: 90px;
}

.uscite h2 {
    margin: 0;
    color: white;
}

.uscite_item{
    display: block;
}

.uscite img {
    width: 100%;
    object-fit:contain;
}


.uscitevid_img {
    display: grid;
    gap: 15px;
    grid-template-columns:1fr 1fr ;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.uscitevid {
    width: 100%;
    margin-top: 200px;
}



.uscitevid img {
    width: 100%;
    object-fit:cover;
}

.nomepag_img{
    width: 100%; 
    position: relative;
    overflow: hidden;
    padding-top: calc(30% / (16/9)); 
  }
  
  .nomepag_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nomepag_txt {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
   
  }







